[Desktop Entry]
Type=Application
Exec=system76-power profile balance
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[es_ES]=Battery Init Profile
Name=Battery Save Profile
Comment[es_ES]=
Comment=
